# Data Science Tools and Ecosystem

Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)


Exercise 3 - Create a markdown cell for an introduction. (1 pt)


Exercise 4 - Create a markdown cell to list data science languages. (3 pts)


Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)


Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)


Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)


Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)

Exercise 12 - Share your notebook through GitHub (3 pts)

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)

### Author's Name: Anuja Dhar

In this notebook, Data Science Tools and Ecosystem are summarized.
Some of the popular languages that Data Scientists use are:

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)Python.
1. R.
2. SQL.
3. Java.
4. Julia.
5. Scala.
6. C/C++.

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
#### Data Science Tools

SAS. It is one of those data science tools which are specifically designed for statistical operation		
Apache Spark		
BigML

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

In [2]:
a, b = 10, 5
print(a+b)

15

In [3]:
#Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)
print(a+b)
print(a*b)

15
50

In [12]:
#Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

minute = 200
hours = minute/60
minutes = minute % 60
print(str(hours) + " hours and " + str(minutes) + " minute ")

3.3333333333333335 hours and 20 minute

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
#### Objectives:
 - List popular languages that Data Scientists use
 - List commonly used libraries used by Data Scientists.
 - Comment on Data Science tools.